@using Haber35.UI.Models.VMs.Home
@model ArticleDetailVM
@{
    ViewData["Title"] = "ArticleDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- breaddcrumb -->
                <!-- Breadcrumb -->
                <ul class="breadcrumbs bg-light mb-4">
                    <li class="breadcrumbs__item">
                        <a asp-action="Index" class="breadcrumbs__url">
                            <i class="fa fa-home"></i> Anasayfa
                        </a>
                    </li>
                    <li class="breadcrumbs__item breadcrumbs__item--current">
                        Haber Detayı
                    </li>
                </ul>
                <!-- end breadcrumb -->
            </div>

            <div class="col-md-8">
                <!-- content article detail -->
                <!-- Article Detail -->
                <div class="wrap__article-detail">
                    <div class="wrap__article-detail-title">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h1>
                                    @Model.Title
                                </h1>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div>
                                    <a asp-action="Update" asp-controller="Article" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-danger">Haberi Düzenle</a>
                                </div>
                            }
                        </div>
                    </div>
                    <hr>
                    <div class="wrap__article-detail-info">
                        <ul class="list-inline">
                            <li class="list-inline-item">

                            </li>
                            <li class="list-inline-item">

                                <span>
                                    Yazan
                                </span>
                                <a href="#">
                                    @Model.AuthorUserName,
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <span class="text-dark text-capitalize ml-1">
                                    @Model.CreatedDate.ToString(),
                                </span>
                            </li>
                            <li class="list-inline-item">
                                <span class="text-dark text-capitalize">
                                    kategorileri:
                                </span>
                                @foreach (var cat in Model.Categories)
                                {
                                    <a asp-action="CategoryArticles" asp-route-id="@cat.Id">
                                        @cat.CategoryName
                                    </a>
                                }
                            </li>
                        </ul>
                    </div>

                    <div class="wrap__article-detail-image mt-4">
                        <figure>
                            <img src="@Model.ImagePath" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <div class="wrap__article-detail-content">
                        <div class="total-views">
                            <div class="total-views-read">
                                <span>Görüntülenme: @Model.Viewer <i class="fa fa-eye"> </i></span>

                            </div>
                        </div>
                        <p class="has-drop-cap-fluid text-justify">
                            @Model.Content
                        </p>

                    </div>


                </div>
                <!-- end content article detail -->
                <!-- tags -->
                <!-- News Tags -->
                <div class="blog-tags">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-tags">
                            </i>
                        </li>
                        @foreach (var item in Model.Categories)
                        {
                            <li class="list-inline-item">
                                <a asp-action="CategoryArticles" asp-route-id="@item.Id">
                                    #@item.CategoryName
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <!-- end tags-->
                <!-- Comment  --> <div id="comments" class="comments-area">
                    <h3 class="comments-title">@Model.Comments.Count Yorum:</h3>
                    @foreach (var item in Model.Comments)
                    {
                        <ol class="comment-list">
                            <li class="comment">
                                <aside class="comment-body">
                                    <div class="comment-meta">
                                        <div class="comment-author vcard d-flex justify-content-between">
                                            <div>
                                                <b class="fn">@item.Name</b>
                                                <span class="text-sm text-muted font-italic"> diyor ki:</span>
                                            </div>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#delete-modal" onclick="setDeleteId('@item.Id')">
                                                    <i class="fa fa-lg fa-trash"></i>
                                                </button>
                                            }
                                        </div>
                                        <div class="comment-metadata">
                                            <span class="text-muted text-sm">@item.CreatedDate</span>
                                        </div>
                                    </div>

                                    <div class="comment-content">
                                        <p class="text-justify">
                                            @item.Description
                                        </p>

                                    </div>
                                </aside>
                            </li>
                        </ol>
                    }
                    <div class="comment-respond">
                        <h3 class="comment-reply-title">Bir Cevap Bırak</h3>

                        <form asp-action="Create" asp-controller="Comment" class="comment-form">
                            <p class="comment-notes">
                                <span id="email-notes">Gerekli alanlar işaretlenmiştir.</span>
                                <span class="required">*</span>
                                <span class="text-muted text-sm font-italic">(Mail Adresiniz Paylaşılmayacaktır.)</span>
                            </p>
                            <input type="hidden" name="ArticleId" value="@Model.Id" />
                            <p class="comment-form-comment">
                                <label for="Description">Yorumunuz</label>
                                <textarea name="Description" id="Description" cols="45" rows="5" maxlength="65525"
                                          required="required"></textarea>
                            </p>
                            <p class="comment-form-author">
                                <label>İsminiz <span class="required">*</span></label>
                                <input type="text" id="Name" name="Name" required="required">
                            </p>
                            <p class="comment-form-email">
                                <label for="Email">Email <span class="required">*</span></label>
                                <input type="email" id="Email" name="Email" required="required">
                            </p>

                            <p class="form-submit">
                                <input type="submit" name="submit" id="submit" class="submit" value="Yorumu Gönder">
                            </p>
                        </form>
                    </div>
                </div>

                <!-- Comment -->
                <!-- end comment -->
                <div class="clearfix"></div>

            </div>
            <div class="col-md-4">
                <div class="sticky-top">
                    <aside class="wrapper__list__article ">
                        <h4 class="border_section">Popüler Haberler</h4>
                        <div class="wrapper__list__article-small">
                            @{
                                var counter = 0;
                            }
                            @foreach (ArticleVM item in ViewBag.PopularArticles)
                            {
                                if (counter % 3 == 0)
                                {
                                    <div class="article__entry w-100">
                                        <div class="article__image">
                                            <a asp-action="ArticleDetail" asp-controller="Home" asp-route-id="@item.Id">
                                                <img src="@item.ImagePath" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="article__content">
                                            @foreach (var cat in item.Categories)
                                            {
                                                <a asp-action="CategoryArticles" asp-route-id="@cat.Id" class="article__category">
                                                    @cat.CategoryName
                                                </a>
                                            }
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <span class="text-primary">
                                                        @item.AuthorUserName
                                                    </span>
                                                </li>
                                                <li class="list-inline-item">
                                                    <span class="text-dark text-capitalize">
                                                        @item.CreatedDate
                                                    </span>
                                                </li>

                                            </ul>
                                            <h5>
                                                <a asp-action="ArticleDetail" asp-controller="Home" asp-route-id="@item.Id">
                                                    @item.ShortTitle
                                                </a>
                                            </h5>
                                            <p class="mb-0">
                                                @item.Title
                                            </p>
                                            <a style="margin-bottom:10px !important" asp-action="ArticleDetail" asp-controller="Home" asp-route-id="@item.Id">Devamını Oku</a>
                                        </div>
                                    </div>
                                    <hr />
                                }
                                else
                                {

                                    <div class="mb-3">
                                        <!-- Post Article -->
                                <div class="card__post card__post-list">
                                            <div class="image-sm">
                                                <a asp-action="ArticleDetail" asp-controller="Home" asp-route-id="@item.Id">
                                                    <img src="@item.ImagePath" class="img-fluid" alt="">
                                                </a>
                                            </div>


                                            <div class="card__post__body ">
                                                <div class="card__post__content">

                                                    <div class="card__post__author-info mb-2">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <span class="text-primary">
                                                                    @item.AuthorUserName
                                                                </span>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <span class="text-dark text-capitalize">
                                                                    @item.CreatedDate
                                                                </span>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                    <div class="card__post__title">
                                                        <h6>
                                                            <a asp-action="ArticleDetail" asp-controller="Home" asp-route-id="@item.Id">
                                                                @item.ShortTitle
                                                            </a>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                counter++;
                            }


                            <!-- Post Article -->

                        </div>
                    </aside>

                </div>

            </div>
        </div>

    </div>

</section>


@if (User.Identity.IsAuthenticated)
{
    <!-- Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-CenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-modal-CenterTitle">Yorum Silinecek</h5>
                </div>
                <div class="modal-body">
                    <p>Yorum silinecek onaylıyor musunuz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                    <button id="delete-comment-btn" type="button" class="btn btn-primary" data-dismiss="modal" onclick="deleteArticle()">Sil</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
<script>
    let deletingCommentId = ""
    const setDeleteId = (id) => deletingCommentId = id;

    const deleteArticle = () => {
        $.ajax({
            url : "@Url.Action(controller:"Comment", action:"DeleteAjax")" + "?id=" + deletingCommentId,
            method : "get",
            success : function(response){
                if(response.result){
                    location.reload();
                }
                else{
                    notyf.error("Yorum silinirken hata oluştu!")
                }
            },
            error : notyf.error("Lütfen giriş yapın.")

        })
    }
</script>
}
}

